* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    color: #555;
    font-family: "Lato";
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
header .carousel-inner .item {
    height: 100vh;
}
.navbar-dark {
    background-color: transparent;
    border-color: transparent;
}

.navbar-dark .navbar-brand {
    color:white;
    font-size: 40px;
    padding: 40px 15px;
    font-weight: 900;
}
.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}
.navbar-dark .navbar-nav>li>a {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-caption {
    padding-bottom: 250px;
    font-family: 'Courier New',Courier,monospace;
}
.carousel-caption h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    color:whitesmoke;
}
.carousel-caption h2 span {
    color:teal;
}
.carousel-caption h3{
    color: white;
}
.carousel-caption a {
    background: teal;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-indicators .active {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
.section1 {
    height: 100vh;
    display: flex;
    align-items: center;
    background:darkslategrey;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.left img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.right * {
    margin-bottom: 1.1rem;
    color: white;
}
.right p {
    text-align: justify;
    letter-spacing: 4px;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid teal;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.section2 {
    min-height: 101vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),
        url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    
}

.section2 h2 {
    color: white;
    margin-top: auto;
}

.cardcon {
    background-color: white;
    min-height: 400px;
    padding: 20px;
    box-shadow: 14px 10px 10px 0px rgba(220, 220, 220, 0.55);
    -webkit-box-shadow: 14px 10px 10px 0px rgba(220, 220, 220, 0.55);
    -moz-box-shadow: 14px 10px 10px 0px rgba(220, 220, 220, 0.55);
}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.card h4 {
    padding: 20px;
    color: orange;
    text-transform: uppercase;
    font-size: 75%;
    text-align: center;
    margin-bottom: -20px;
}

.card p {
    font-size: 70%;
}

.btn-card {
    font-size: 70%;
    font-weight: bold;
}

.contact-us {
    padding: 70px 0px;
    background: darkslategrey;
    margin-top: auto;
}

.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid darkslategrey;
    padding-bottom: 10px;
    display: inline-block;
}

.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}

.contact-us input,
.contact-us textarea {
    background: #fafafa;
}

.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}

.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        padding-bottom: 350px;
    }

    .carousel-caption h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 30px;
        padding: 20px 15px;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
    }

    .carousel-caption {
        padding-bottom: 120px;
    }

    .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }

    .carousel-caption a {
        padding: 10px 25px;
    }

    .cardcon {
        min-height: 100px;
    }

    .right p{
        letter-spacing: normal;
        font-size: small;
    }

}
